#RAG 
langchain
langchain-community
langchain-huggingface

fastapi
uvicorn

python-jose[cryptography]
passlib[bcrypt]
python-multipart



faiss-cpu
pypdf
sentence-transformers


sqlalchemy
mysql-connector-python

streamlit
requests