#RAG 
langchain
langchain-community
langchain-huggingface

#Langchain
faiss-cpu
pypdf
langchain-groq
sentence-transformers

#Api
fastapi
uvicorn

#Python
python-jose[cryptography]
passlib[bcrypt]
python-multipart

#Database
sqlalchemy
mysql-connector-python
email-validator

#Frontend
streamlit
requests